/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */

.container {
	width: 90%;
	margin: 0 auto;
  }

.navigation {
	padding: 25px 50px 0px;
	overflow: hidden;
	top: 0;
	width: 100%;
  }
  
  .navigation .nav-items {
	display: inline-block;
  }

  .navigation .logo {
	float: right;
	margin-bottom: 25px;
  }
  
  .navigation .nav-items a {
	text-decoration: none;
	color: #8d929b;
	padding: 0px 60px 0px;
	font-size: 21px;
	vertical-align: bottom;
  }

  header {
	  width: 100%;
	  text-align: center;
  }

  .header-left, #header-right {
	  display: inline-block;
	  width: 49%;
  }

  .header-left {
	  padding: 40px;
	  height: 100%;
	  position: relative;
	  bottom: 100px;
  }

  .header-left h1 {
	font-size: 60px;
	text-align: center;
}

.header-left a {
	display: block;
	font-size: 30px;
	text-align: center;
	width: 200px;
	margin: 0 auto;
	text-decoration: none;
	border: 2px solid #000;
	color: #000;
}

  .header-right {
	  padding: 40px;
	  display: inline-block;
  }

  .header-right img {
	display: inline-block;
	margin: auto;
  }

  .top-section-columns {
	  width: 49%;
	  display: inline-block;
  }

  .top-section-columns h2 {
	  font-size: 50px;

  }

  hr {
	  border: 1px solid #000;
	  margin-top: 40px;
	  margin-bottom: 40px;
  }

 .hero-image {
	 width: 100%;
	 padding-top: 30px;
	 padding-bottom: 30px;
 }

 .hero-image img {
	width: 100%;
	width: calc(100%);
	margin: 0 auto;
}

.bottom-section-columns {
	width: 32%;
	display: inline-block;
}

.bottom-section-columns h2 {
	font-size: 50px;

}

.contact {
	width: 100%;
	display: inline-block;
}

.contact h2 {
	font-size: 30px;
}

footer {
	text-align: center;
	padding-bottom: 20px;
}

address a {
	text-decoration: none;
	color: #000;
}